// #flex-grid{
//   display: flex;
// }

// #flex-grid .product-display-container {
//   flex: 1;
// }

.product-display-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 40rem;
  margin-left: 4rem;
}

.product-name{
  flex: 0 0 50%;
}
.amazon-price{
  flex: 0 0 25%;
}
.walmart-price{
  flex: 0 0 25%;
}

#new-product-form{
  margin: 4rem;
}
